*{
    margin: 0;
    padding: 0;
}
#parent{
    display: grid;
    text-align: center;
}
#head{
    background-color: chocolate;
    height: 10vh;
    width: 100vh;
}
#left_right{
    display: flex;
}
