*{
    margin: 0;
    padding: 0;
}

#parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#left{
    background-color: yellow;
    height: 550px;  
    width: 500px;
    margin-right: 50px;
    
}
#right{
    background-color: aqua;
    height: 550px;
    width: 400px;
}