* {
  margin: 0;
  padding: 0;
}
#navbar {
  height: 10vh;
}
#hero {
  height: 65vh;
  background-color: rgb(230, 230, 217);
}
#footer {
  height: 20vh;
}
#nav_logo {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 15px;
}
.btn_sec {
  height: 25px;
  width: 70px;
  border: none;
  background-color: white;
}
#signupbtn {
  color: white;
  background-color: #ff4419;
  width: 80px;
}
#nav_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_btn {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-left: 550px;
  margin-right: 20px;
}
#nav_2 {
  display: flex;
  gap: 20px;
  margin-left: 10px;
  padding-top: 10px;
}
.tag {
  font-size: 15px;
}
#selector {
  border: none;
}
#hero_sec_1 {
  font-size: 22px;
  text-align: center;
  padding-top: 50px;
}
#hero_sec_2 {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}

.box {
  height: 200px;
  width: 200px;
  border: 4px solid black;
  box-shadow: 10px 10px 3px 2px;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
#price_1 {
  font-size: 30px;
  font-weight: 600;
}
#box_btn {
  height: 40px;
  width: 180px;
  padding: 5px;
  color: white;
  background-color: #1d78f0;
  border: none;
  border-radius: 5px;
}
#box_title {
  margin-right: 40px;
}
#price {
  margin-right: 90px;
}
#hero_sec_3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

#footer {
  text-align: center;
  justify-content: center;
  color: black;
}
#foot_1 {
  padding-top: 40px;
}
#foot_2 {
  padding-top: 20px;
  font-size: 18px;
}
#foot_3 {
  padding-top: 20px;
  color: #1d78f0;
}
