*{
    margin: 0;
    padding: 0;
}
#navbar{
    height: 10vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mid_sec{
    height: 90vh;
    background-color:aquamarine;
    display: flex;

}
#left{
    width: 40%;
    background-color: #0976a7;
}
#right{
    width: 60%;
    background-color:chartreuse;
}
#nav_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:flex-end;
    margin-right: 20px;
}
.btn{
    border: none;
    font-size: 17px;
    color: black;
    background-color: white;
    height: 40px;
    width: 60px;
}
#free_trail{
    height: 40px;
    width: 180px;
    background-color: #0976a7;
    border-radius: 5px;
    color: white;
}
#logo{
    font-size: 17px;
    font-weight: 700;
    margin-left: 35px;
}
#left_text{
    color: white;
    font-size: 21px;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 2;
    word-spacing: 2px;
}
#para{
    padding-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
}
#profile{
    display: flex;
    gap: 20px;
    padding-left: 25px;
    padding-top: 40px;
}
#round_img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#profile_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#mg_div{
    align-items: center;
    justify-content: center;
}
#profile_name{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-right: 180px;
}
#profile_position{
    color: white;
    font-weight:10%;
}
