* {
  margin: 0;
  padding: 0;
}
#navbar {
  height: 8vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  margin-top: 5px;
  margin-left: 130px;
}
#logo {
  color: orange;
  padding-left: 100px;
}
#button {
  display: flex;
  gap: 40px;
  padding-right: 70px;
}
.btn {
  color: white;
  border: none;
  background-color: black;
}

/* nav done */
#page {
  border: none;
  color: white;
  background-color: black;
}
#btn_book {
  background-color: orange;
  color: white;
  height: 8vh;
  width: 130px;
}

#hero {
  height: 100vh;
  background-color: aquamarine;
  position: relative;
}
#hero_1 {
  height: 35vh;
  background-color: antiquewhite;
}
#hero_2 {
  height: 65vh;
  background-color: chocolate;
  display: flex;
}
#left {
  width: 50vw;
  background-color: darkseagreen;
}
#right {
  width: 50vw;
  background-color: red;
  background-image: url("image/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
  
}

#learn {
  height: 50px;
  width: 50px;
  background-color: aqua;
  position: absolute;
  z-index: 3000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 48.5%;
  top: 50%;
}
#attribute {
  font-weight: bolder;
  color: white;
}
#pearn {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48.5%;
  top: 60%;
}

#footer{
    height: 10vh;
    width: 80vw;
    border-radius: 5px;
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 4000;
    top: 86%;
    left: 9%;
    padding-top: 15px;
}

.foot_element{
    height: 50px;
    border: none;
    width: 280px;
    border-radius: 5px;
}
#foot_btn{
    height: 50px;
    border: none;
    width: 200px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}