*{
    margin: 0;
    padding: 0;
}
#parent{
    display: grid;
    text-align: center;
}

#header{
    background-color: gold;
    height: 10vh;
    width: 100vw;
}

#footer{
    background-color: greenyellow;
    height: 10vh;
    width: 100vw;
}

#leftright{
    display: flex;
    height: 80vh;
    width: 100vw;
}
#left{
    background-color: red;
    width: 20vw;
    text-decoration: underline;
}
#right{
    background-color: aqua;
    width: 80vw;
}
/* check */

